root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{yml,yml.dist,yaml,yaml.dist,xml,xml.dist,toml}]
indent_size = 2

[compose.yaml]
indent_size = 4
