*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db

.build/
.history/
.idea/
.tinker/
tests/Browser/Screenshots/
vendor/

/vendor-bin/*/*
!/vendor-bin/*/composer.json

.php-cs-fixer.php
.phpstorm.meta.php
/*.zip
/laravel
/tests.*
_ide_helper_models.php
composer.lock
phpbench.json
phpstan.neon
phpunit.xml
