includes:
    - phpstan-baseline.neon
#    - vendor/larastan/larastan/extension.neon
#    - vendor/roave/no-floaters/rules.neon
#    - vendor/phpstan/phpstan-strict-rules/rules.neon
#    - vendor/ergebnis/phpstan-rules/rules.neon
#    - vendor/ekino/phpstan-banned-code/extension.neon

parameters:
    level: 1
    paths:
        - app/
    excludePaths:
        - ./*/*/FileToBeExcluded.php
        - app/Support/Http/
    tmpDir: build/phpstan
#    checkOctaneCompatibility: true
#    checkModelProperties: true
#    checkMissingIterableValueType: true
#    disallowFloatsEverywhere: true

#    strictRules:
#        allRules: false
#        booleansInConditions: false
#        uselessCast: false
#        requireParentConstructorCall: false
#        disallowedConstructs: false
#        overwriteVariablesWithLoop: false
#        closureUsesThis: false
#        matchingInheritedMethodNames: false
#        numericOperandsInArithmeticOperators: false
#        strictCalls: false
#        switchConditionsMatchingType: false
#        noVariableVariables: false
    ignoreErrors:
#        - "#^Access to protected property App\\\\Support\\\\Macros\\\\.*Macro\\:\\:\\$.*\\.$#"
        - "#^Access to an undefined property App\\\\Support\\\\Macros\\\\.*Macro\\:\\:\\$.*\\.$#"
        - "#^Access to undefined constant Spatie\\\\Health\\\\Enums\\\\Status\\:\\:.*\\.$#"
        - "#^Method App\\\\Support\\\\Macros\\\\.*Macro\\:\\:.*\\(\\) invoked with \\d parameters, 0 required\\.$#"
        - "#^Unsafe usage of new static\\(\\)\\.$#"
