parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\$permissions of anonymous function has invalid type Dcat\\\\Admin\\\\Models\\\\Permission\\.$#"
			count: 1
			path: app/Console/Commands/IdeHelperGatesCommand.php

		-
			message: "#^Variable \\$file might not be defined\\.$#"
			count: 1
			path: app/Console/Commands/ParsePHPFileToASTCommand.php

		-
			message: "#^Call to static method create\\(\\) on an unknown class NotificationChannels\\\\Telegram\\\\TelegramMessage\\.$#"
			count: 1
			path: app/Notifications/SlowQueryLoggedNotification.php

		-
			message: "#^Static call to instance method Imanghafoori\\\\Decorator\\\\Facade\\\\Decorator\\:\\:decorate\\(\\)\\.$#"
			count: 1
			path: app/Providers/AppServiceProvider.php

		-
			message: "#^Call to an undefined method NunoMaduro\\\\Collision\\\\Adapters\\\\Laravel\\\\ExceptionHandler\\:\\:convertExceptionToArray\\(\\)\\.$#"
			count: 1
			path: app/Support/ApiResponse/ApiResponse.php

		-
			message: "#^Call to protected method addCommand\\(\\) of class Illuminate\\\\Database\\\\Schema\\\\Blueprint\\.$#"
			count: 1
			path: app/Support/Macros/BlueprintMacro.php

		-
			message: "#^Call to protected static method this\\(\\) of class Carbon\\\\Carbon\\.$#"
			count: 1
			path: app/Support/Macros/CarbonMacro.php

		-
			message: "#^Variable \\$taskException might not be defined\\.$#"
			count: 1
			path: app/Support/Macros/CommandMacro.php

		-
			message: "#^Call to protected method getRelationWithoutConstraints\\(\\) of class Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\.$#"
			count: 1
			path: app/Support/Macros/QueryBuilder/OrderByWithQueryBuilderMacro.php

		-
			message: "#^Undefined variable\\: \\$this$#"
			count: 1
			path: app/Support/Macros/QueryBuilder/WhereNotQueryBuilderMacro.php

		-
			message: "#^Call to protected method getInputSource\\(\\) of class Illuminate\\\\Http\\\\Request\\.$#"
			count: 1
			path: app/Support/Macros/RequestMacro.php

		-
			message: "#^Class App\\\\Support\\\\FoundationSDK referenced with incorrect case\\: App\\\\Support\\\\FoundationSdk\\.$#"
			count: 1
			path: app/Support/PushDeer.php

		-
			message: "#^Accessing self\\:\\:\\$handler outside of class scope\\.$#"
			count: 2
			path: app/Support/helpers.php

		-
			message: "#^Calling posix_getpwuid\\(\\) is forbidden, might reveal system user information\\.$#"
			count: 1
			path: app/Support/helpers.php
