parameters:
	ignoreErrors:
		-
			message: "#^Call to method check\\(\\) on an unknown class Composer\\\\XdebugHandler\\\\XdebugHandler\\.$#"
			count: 1
			path: app/Console/Commands/FindDumpStatementCommand.php

		-
			message: "#^Instantiated class Composer\\\\XdebugHandler\\\\XdebugHandler not found\\.$#"
			count: 1
			path: app/Console/Commands/FindDumpStatementCommand.php

		-
			message: "#^Parameter \\#1 \\$pattern of method Illuminate\\\\Support\\\\Stringable\\:\\:is\\(\\) expects iterable\\<string\\>\\|string, array\\<string\\> given\\.$#"
			count: 1
			path: app/Console/Commands/FindDumpStatementCommand.php

		-
			message: "#^Parameter \\#2 \\$value of function ini_set expects string, int given\\.$#"
			count: 2
			path: app/Console/Commands/FindDumpStatementCommand.php

		-
			message: "#^Property App\\\\Console\\\\Commands\\\\FindDumpStatementCommand\\:\\:\\$statements \\(array\\<array\\<string\\>\\>\\) does not accept default value of type array\\<string, array\\<int, string\\>\\>\\.$#"
			count: 1
			path: app/Console/Commands/FindDumpStatementCommand.php

		-
			message: "#^Property App\\\\Console\\\\Commands\\\\FindDumpStatementCommand\\:\\:\\$statements has unknown class string as its type\\.$#"
			count: 1
			path: app/Console/Commands/FindDumpStatementCommand.php

		-
			message: "#^Variable \\$findInfos in empty\\(\\) always exists and is not falsy\\.$#"
			count: 1
			path: app/Console/Commands/FindDumpStatementCommand.php

		-
			message: "#^Call to method check\\(\\) on an unknown class Composer\\\\XdebugHandler\\\\XdebugHandler\\.$#"
			count: 1
			path: app/Console/Commands/GenerateTestsCommand.php

		-
			message: "#^Instantiated class Composer\\\\XdebugHandler\\\\XdebugHandler not found\\.$#"
			count: 1
			path: app/Console/Commands/GenerateTestsCommand.php

		-
			message: "#^Parameter \\#2 \\$value of function ini_set expects string, int given\\.$#"
			count: 2
			path: app/Console/Commands/GenerateTestsCommand.php

		-
			message: "#^Property App\\\\Console\\\\Commands\\\\GenerateTestsCommand\\:\\:\\$jsonDecoder is unused\\.$#"
			count: 1
			path: app/Console/Commands/GenerateTestsCommand.php

		-
			message: "#^Property App\\\\Console\\\\Commands\\\\GenerateTestsCommand\\:\\:\\$nodeConnectingVisitor is unused\\.$#"
			count: 1
			path: app/Console/Commands/GenerateTestsCommand.php

		-
			message: "#^Property App\\\\Console\\\\Commands\\\\GenerateTestsCommand\\:\\:\\$nodeDumper is unused\\.$#"
			count: 1
			path: app/Console/Commands/GenerateTestsCommand.php

		-
			message: "#^Property App\\\\Console\\\\Commands\\\\GenerateTestsCommand\\:\\:\\$parentConnectingVisitor is unused\\.$#"
			count: 1
			path: app/Console/Commands/GenerateTestsCommand.php

		-
			message: "#^Property App\\\\Console\\\\Commands\\\\GenerateTestsCommand\\:\\:\\$templateTestClassNodes is never read, only written\\.$#"
			count: 1
			path: app/Console/Commands/GenerateTestsCommand.php

		-
			message: "#^PHPDoc type array\\<string, array\\<int, string\\>\\> of property App\\\\Http\\\\Kernel\\:\\:\\$middleware is not covariant with PHPDoc type array\\<int, string\\> of overridden property Illuminate\\\\Foundation\\\\Http\\\\Kernel\\:\\:\\$middleware\\.$#"
			count: 1
			path: app/Http/Kernel.php

		-
			message: "#^PHPDoc type array\\<string, string\\> of property App\\\\Http\\\\Kernel\\:\\:\\$middlewareGroups is not covariant with PHPDoc type array\\<string, array\\<int, string\\>\\> of overridden property Illuminate\\\\Foundation\\\\Http\\\\Kernel\\:\\:\\$middlewareGroups\\.$#"
			count: 1
			path: app/Http/Kernel.php

		-
			message: "#^Property App\\\\Http\\\\Kernel\\:\\:\\$middleware \\(array\\<string, array\\<int, string\\>\\>\\) does not accept default value of type array\\<int, string\\>\\.$#"
			count: 1
			path: app/Http/Kernel.php

		-
			message: "#^Property App\\\\Http\\\\Kernel\\:\\:\\$middlewareGroups \\(array\\<string, string\\>\\) does not accept default value of type array\\<string, array\\<int, string\\>\\>\\.$#"
			count: 1
			path: app/Http/Kernel.php

		-
			message: "#^Parameter \\#1 \\$requestOrResponse of method App\\\\Http\\\\Middleware\\\\LogHttp\\:\\:extractHeader\\(\\) expects Illuminate\\\\Http\\\\JsonResponse\\|Illuminate\\\\Http\\\\RedirectResponse, Illuminate\\\\Http\\\\Request given\\.$#"
			count: 1
			path: app/Http/Middleware/LogHttp.php

		-
			message: "#^Call to protected method addCommand\\(\\) of class Illuminate\\\\Database\\\\Schema\\\\Blueprint\\.$#"
			count: 1
			path: app/Macros/BlueprintMacro.php

		-
			message: "#^Anonymous function should return Illuminate\\\\Support\\\\Collection but returns \\$this\\(App\\\\Macros\\\\CollectionMacro\\)\\.$#"
			count: 1
			path: app/Macros/CollectionMacro.php

		-
			message: "#^Argument of an invalid type App\\\\Macros\\\\CollectionMacro supplied for foreach, only iterables are supported\\.$#"
			count: 2
			path: app/Macros/CollectionMacro.php

		-
			message: "#^Access to protected property App\\\\Macros\\\\CommandMacro\\:\\:\\$output\\.$#"
			count: 6
			path: app/Macros/CommandMacro.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Support\\\\Fluent\\:\\:\\$comment\\.$#"
			count: 2
			path: app/Macros/GrammarMacro.php

		-
			message: "#^Call to protected method getRelationWithoutConstraints\\(\\) of class Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\.$#"
			count: 1
			path: app/Macros/QueryBuilder/OrderByWithQueryBuilderMacro.php

		-
			message: "#^Undefined variable\\: \\$this$#"
			count: 1
			path: app/Macros/QueryBuilder/WhereNotQueryBuilderMacro.php

		-
			message: "#^Call to protected method getInputSource\\(\\) of class Illuminate\\\\Http\\\\Request\\.$#"
			count: 1
			path: app/Macros/RequestMacro.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Auth\\\\AuthManager\\:\\:factory\\(\\)\\.$#"
			count: 1
			path: app/Models/JWTUser.php

		-
			message: "#^Call to an undefined method App\\\\Models\\\\Model\\:\\:scopeExactFilter\\(\\)\\.$#"
			count: 1
			path: app/Models/Model.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:onlyTrashed\\(\\)\\.$#"
			count: 1
			path: app/Models/Model.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:withTrashed\\(\\)\\.$#"
			count: 1
			path: app/Models/Model.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:withoutTrashed\\(\\)\\.$#"
			count: 1
			path: app/Models/Model.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\:\\:ordered\\(\\)\\.$#"
			count: 3
			path: app/Models/Model.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:setHighestOrderNumber\\(\\)\\.$#"
			count: 1
			path: app/Models/Model.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:shouldSortWhenCreating\\(\\)\\.$#"
			count: 1
			path: app/Models/Model.php

		-
			message: "#^Call to method save\\(\\) on an unknown class App\\\\Models\\\\Concerns\\\\Sortable\\.$#"
			count: 1
			path: app/Models/Model.php

		-
			message: "#^Call to method swapOrderWithModel\\(\\) on an unknown class App\\\\Models\\\\Concerns\\\\Sortable\\.$#"
			count: 1
			path: app/Models/Model.php

		-
			message: "#^Parameter \\$model of method App\\\\Models\\\\Model\\:\\:swapOrder\\(\\) has invalid type App\\\\Models\\\\Concerns\\\\Sortable\\.$#"
			count: 1
			path: app/Models/Model.php

		-
			message: "#^Parameter \\$otherModel of method App\\\\Models\\\\Model\\:\\:swapOrder\\(\\) has invalid type App\\\\Models\\\\Concerns\\\\Sortable\\.$#"
			count: 1
			path: app/Models/Model.php

		-
			message: "#^Parameter \\$otherModel of method App\\\\Models\\\\Model\\:\\:swapOrderWithModel\\(\\) has invalid type App\\\\Models\\\\Concerns\\\\Sortable\\.$#"
			count: 1
			path: app/Models/Model.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 2
			path: app/Models/Model.php

		-
			message: "#^Access to an undefined property App\\\\Models\\\\JWTUser\\:\\:\\$locale\\.$#"
			count: 1
			path: app/Providers/AppServiceProvider.php

		-
			message: "#^Using nullsafe method call on non\\-nullable type Illuminate\\\\Http\\\\Request\\. Use \\-\\> instead\\.$#"
			count: 1
			path: app/Providers/AppServiceProvider.php

		-
			message: "#^Unary operation \"~\" on mixed results in an error\\.$#"
			count: 1
			path: app/Support/BitEncoder.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Http\\\\Client\\\\Response\\:\\:getBody\\(\\)\\.$#"
			count: 1
			path: app/Support/ChatGPT.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$handler$#"
			count: 1
			path: app/Support/HandlerStack.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: app/Support/HandlerStack.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 3
			path: app/Support/HttpClient.php

		-
			message: "#^Parameter \\#1 \\$value of function collect expects Illuminate\\\\Contracts\\\\Support\\\\Arrayable\\<\\(int\\|string\\), mixed\\>\\|iterable\\<\\(int\\|string\\), mixed\\>\\|null, bool\\|string given\\.$#"
			count: 1
			path: app/Support/OpenAI.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 4
			path: app/Support/PureModel.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:onlyTrashed\\(\\)\\.$#"
			count: 2
			path: app/Support/Repository.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:restore\\(\\)\\.$#"
			count: 1
			path: app/Support/Repository.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:withTrashed\\(\\)\\.$#"
			count: 1
			path: app/Support/Repository.php

		-
			message: "#^Offset 'guest' on array\\{user\\: int\\|string, nice\\: int\\|string, system\\: int\\|string, idle\\: int\\|string, iowait\\: int\\|string, irq\\: int\\|string, softirq\\: int\\|string, steal\\: int\\|string, \\.\\.\\.\\} on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: app/Support/System.php

		-
			message: "#^Offset 'idle' on array\\{user\\: int\\|string, nice\\: int\\|string, system\\: int\\|string, idle\\: int\\|string, iowait\\: int\\|string, irq\\: int\\|string, softirq\\: int\\|string, steal\\: int\\|string, \\.\\.\\.\\} on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: app/Support/System.php

		-
			message: "#^Offset 'iowait' on array\\{user\\: int\\|string, nice\\: int\\|string, system\\: int\\|string, idle\\: int\\|string, iowait\\: int\\|string, irq\\: int\\|string, softirq\\: int\\|string, steal\\: int\\|string, \\.\\.\\.\\} on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: app/Support/System.php

		-
			message: "#^Offset 'irq' on array\\{user\\: int\\|string, nice\\: int\\|string, system\\: int\\|string, idle\\: int\\|string, iowait\\: int\\|string, irq\\: int\\|string, softirq\\: int\\|string, steal\\: int\\|string, \\.\\.\\.\\} on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: app/Support/System.php

		-
			message: "#^Offset 'nice' on array\\{user\\: int\\|string, nice\\: int\\|string, system\\: int\\|string, idle\\: int\\|string, iowait\\: int\\|string, irq\\: int\\|string, softirq\\: int\\|string, steal\\: int\\|string, \\.\\.\\.\\} on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: app/Support/System.php

		-
			message: "#^Offset 'softirq' on array\\{user\\: int\\|string, nice\\: int\\|string, system\\: int\\|string, idle\\: int\\|string, iowait\\: int\\|string, irq\\: int\\|string, softirq\\: int\\|string, steal\\: int\\|string, \\.\\.\\.\\} on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: app/Support/System.php

		-
			message: "#^Offset 'steal' on array\\{user\\: int\\|string, nice\\: int\\|string, system\\: int\\|string, idle\\: int\\|string, iowait\\: int\\|string, irq\\: int\\|string, softirq\\: int\\|string, steal\\: int\\|string, \\.\\.\\.\\} on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: app/Support/System.php

		-
			message: "#^Offset 'system' on array\\{user\\: int\\|string, nice\\: int\\|string, system\\: int\\|string, idle\\: int\\|string, iowait\\: int\\|string, irq\\: int\\|string, softirq\\: int\\|string, steal\\: int\\|string, \\.\\.\\.\\} on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: app/Support/System.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 10
			path: app/Support/System.php
