parameters:
	ignoreErrors:
		-
			message: "#^Call to protected method addCommand\\(\\) of class Illuminate\\\\Database\\\\Schema\\\\Blueprint\\.$#"
			count: 1
			path: app/Support/Macros/BlueprintMacro.php

		-
			message: "#^Call to protected method getRelationWithoutConstraints\\(\\) of class Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\.$#"
			count: 1
			path: app/Support/Macros/QueryBuilder/OrderByWithQueryBuilderMacro.php

		-
			message: "#^Undefined variable\\: \\$this$#"
			count: 1
			path: app/Support/Macros/QueryBuilder/WhereNotQueryBuilderMacro.php

		-
			message: "#^Call to protected method getInputSource\\(\\) of class Illuminate\\\\Http\\\\Request\\.$#"
			count: 1
			path: app/Support/Macros/RequestMacro.php

		-
			message: "#^Class App\\\\Support\\\\FoundationSDK referenced with incorrect case\\: App\\\\Support\\\\FoundationSdk\\.$#"
			count: 1
			path: app/Support/PushDeer.php

		-
			message: "#^Accessing self\\:\\:\\$handler outside of class scope\\.$#"
			count: 2
			path: app/Support/helpers.php
