# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Only iterables can be unpacked, mixed given\.$#'
            count: 1
            path: ../app/Support/PhpCsFixer/Fixer/CommandLineTool/AbstractCommandLineToolFixer.php
