# total 3 errors

parameters:
    ignoreErrors:
        -
            message: '#^Trying to invoke mixed but it''s not a callable\.$#'
            count: 2
            path: ../app/Support/Sse/ServerSentEvent.php

        -
            message: '#^Trying to invoke mixed but it''s not a callable\.$#'
            count: 1
            path: ../app/Support/helpers.php
