# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Cannot clone PhpParser\\NodeTraverser\|null\.$#'
            count: 1
            path: ../app/Console/Commands/GenerateTestsCommand.php
