# total 2 errors

parameters:
    ignoreErrors:
        -
            message: '#^Cognitive complexity for "App\\Console\\Commands\\FindDumpStatementCommand\:\:handle\(\)" is 18, keep it under 12$#'
            count: 1
            path: ../app/Console/Commands/FindDumpStatementCommand.php

        -
            message: '#^Cognitive complexity for "user_http_build_query\(\)" is 24, keep it under 12$#'
            count: 1
            path: ../app/Support/helpers.php
