# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Class cognitive complexity is 67, keep it under 41$#'
            count: 1
            path: ../app/Support/Rectors/RenameToPsrNameRector.php
