# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Calling md5\(\) is forbidden, use hash\(\) with at least SHA\-256 for secure hash, or password_hash\(\) for passwords\.$#'
            count: 1
            path: ../app/Http/Middleware/ETag.php
