# total 23 errors
includes:
    - deadCode.unreachable.neon
    - disallowed.function.neon
    - finally.exitPoint.neon
    - function.alreadyNarrowedType.neon
    - if.alwaysTrue.neon
    - method.notFound.neon
    - method.unused.neon
    - parameter.trait.neon
    - property.notFound.neon
    - property.trait.neon
    - return.unusedType.neon
