# total 66 errors
includes:
    - callable.nonCallable.neon
    - clone.nonObject.neon
    - deadCode.unreachable.neon
    - disallowed.function.neon
    - finally.exitPoint.neon
    - function.alreadyNarrowedType.neon
    - if.alwaysTrue.neon
    - method.notFound.neon
    - method.unused.neon
    - offsetAccess.nonOffsetAccessible.neon
    - parameter.trait.neon
    - property.nonObject.neon
    - property.notFound.neon
    - property.trait.neon
    - return.unusedType.neon
    - staticMethod.nonObject.neon
