# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Call to an undefined method Illuminate\\Auth\\AuthManager\:\:factory\(\)\.$#'
            count: 1
            path: ../app/Models/JWTUser.php
