# total 6 errors

parameters:
    ignoreErrors:
        -
            message: '#^Call to an undefined method Illuminate\\Contracts\\Auth\\StatefulGuard\:\:refresh\(\)\.$#'
            count: 1
            path: ../app/Http/Controllers/Api/AuthController.php

        -
            message: '#^Call to an undefined method DateTimeInterface\:\:inAppTimezone\(\)\.$#'
            count: 1
            path: ../app/Models/HttpLog.php

        -
            message: '#^Call to an undefined method DateTimeInterface\:\:inAppTimezone\(\)\.$#'
            count: 1
            path: ../app/Models/Model.php

        -
            message: '#^Call to an undefined method DateTimeInterface\:\:inAppTimezone\(\)\.$#'
            count: 1
            path: ../app/Models/User.php

        -
            message: '#^Call to an undefined method object\:\:passes\(\)\.$#'
            count: 1
            path: ../app/Providers/ValidatorServiceProvider.php

        -
            message: '#^Call to an undefined method Illuminate\\Foundation\\Application\:\:tap\(\)\.$#'
            count: 1
            path: ../bootstrap/app.php
