# total 4 errors

parameters:
    ignoreErrors:
        -
            message: '#^Method App\\Console\\Commands\\IdeHelperChoresCommand\:\:ruleChore\(\) is unused\.$#'
            count: 1
            path: ../app/Console/Commands/IdeHelperChoresCommand.php

        -
            message: '#^Method App\\Models\\Example\:\:createdAtFormatted\(\) is unused\.$#'
            count: 1
            path: ../app/Models/Example.php

        -
            message: '#^Method App\\Models\\Example\:\:updatedAtFormatted\(\) is unused\.$#'
            count: 1
            path: ../app/Models/Example.php

        -
            message: '#^Method App\\Support\\Rectors\\RenameToPsrNameRector\:\:hasFuncCallNameStringArg\(\) is unused\.$#'
            count: 1
            path: ../app/Support/Rectors/RenameToPsrNameRector.php
