# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Property App\\Models\\JWTUser\:\:\$rules has no type specified\.$#'
            count: 1
            path: ../app/Models/JWTUser.php
