# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Using nullsafe method call on non\-nullable type Illuminate\\Routing\\Route\. Use \-\> instead\.$#'
            count: 1
            path: ../app/Providers/LogServiceProvider.php
