# total 21 errors

parameters:
    ignoreErrors:
        -
            message: '#^Cannot access offset ''dont\-discover'' on mixed\.$#'
            count: 1
            path: ../app/Console/Commands/HealthCheckCommand.php

        -
            message: '#^Cannot access offset ''extra'' on mixed\.$#'
            count: 1
            path: ../app/Console/Commands/HealthCheckCommand.php

        -
            message: '#^Cannot access offset ''laravel'' on mixed\.$#'
            count: 1
            path: ../app/Console/Commands/HealthCheckCommand.php

        -
            message: '#^Cannot access offset ''local_value'' on mixed\.$#'
            count: 1
            path: ../app/Console/Commands/HealthCheckCommand.php

        -
            message: '#^Cannot access offset ''require'' on mixed\.$#'
            count: 1
            path: ../app/Console/Commands/HealthCheckCommand.php

        -
            message: '#^Cannot access offset ''require\-dev'' on mixed\.$#'
            count: 1
            path: ../app/Console/Commands/HealthCheckCommand.php

        -
            message: '#^Cannot access offset ''name'' on mixed\.$#'
            count: 1
            path: ../app/Console/Commands/ShowUnsupportedRequiresCommand.php

        -
            message: '#^Cannot access offset ''require'' on mixed\.$#'
            count: 1
            path: ../app/Console/Commands/ShowUnsupportedRequiresCommand.php

        -
            message: '#^Cannot access offset ''version'' on mixed\.$#'
            count: 1
            path: ../app/Console/Commands/ShowUnsupportedRequiresCommand.php

        -
            message: '#^Cannot access offset ''versions'' on mixed\.$#'
            count: 1
            path: ../app/Console/Commands/ShowUnsupportedRequiresCommand.php

        -
            message: '#^Cannot access offset ''name'' on mixed\.$#'
            count: 1
            path: ../app/Http/Controllers/Api/AuthController.php

        -
            message: '#^Cannot access offset ''disposable'' on mixed\.$#'
            count: 1
            path: ../app/Rules/NotDisposableEmailRule.php

        -
            message: '#^Cannot access offset ''expanded'' on mixed\.$#'
            count: 1
            path: ../app/Support/Mixins/MySqlGrammarMixin.php

        -
            message: '#^Cannot access offset ''mode'' on mixed\.$#'
            count: 2
            path: ../app/Support/Mixins/MySqlGrammarMixin.php

        -
            message: '#^Cannot access an offset on mixed\.$#'
            count: 1
            path: ../app/Support/Mixins/QueryBuilder/WhereFullTextQueryBuilderMixin.php

        -
            message: '#^Cannot access offset mixed on mixed\.$#'
            count: 1
            path: ../app/Support/Mixins/QueryBuilder/WhereInsQueryBuilderMixin.php

        -
            message: '#^Cannot access offset mixed on mixed\.$#'
            count: 2
            path: ../app/Support/Mixins/RequestMixin.php

        -
            message: '#^Cannot access offset ''content\-type'' on mixed\.$#'
            count: 1
            path: ../app/Support/Monolog/Formatter/EloquentLogHttpModelFormatter.php

        -
            message: '#^Cannot access offset ''context'' on mixed\.$#'
            count: 1
            path: ../app/Support/Monolog/Formatter/EloquentLogHttpModelFormatter.php
