# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Possibly invalid array key type mixed\.$#'
            count: 1
            path: ../app/Support/Mixins/QueryBuilder/QueryBuilderMixin.php
