# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Parameter \$class of method App\\Support\\Attributes\\Mixin\:\:__construct\(\) has invalid type Illuminate\\Support\\Traits\\Macroable\.$#'
            count: 1
            path: ../app/Support/Attributes/Mixin.php
