# total 7 errors

parameters:
    ignoreErrors:
        -
            message: '#^Cannot access property \$Value on mixed\.$#'
            count: 4
            path: ../app/Console/Commands/HealthCheckCommand.php

        -
            message: '#^Cannot access property \$id on mixed\.$#'
            count: 1
            path: ../app/Providers/LogServiceProvider.php

        -
            message: '#^Cannot access property \$stubCallbacks on mixed\.$#'
            count: 1
            path: ../app/Support/Clients/AbstractClient.php

        -
            message: '#^Cannot access property \$id on mixed\.$#'
            count: 1
            path: ../app/Support/Mixins/RequestMixin.php
