# total 3 errors

parameters:
    ignoreErrors:
        -
            message: '#^Access to an undefined property App\\Models\\User\:\:\$language\.$#'
            count: 1
            path: ../app/Http/Middleware/SetLocale.php

        -
            message: '#^Access to an undefined property Laravel\\Sanctum\\PersonalAccessToken\:\:\$ip\.$#'
            count: 1
            path: ../app/Listeners/RecordRequestIdentifiersListener.php

        -
            message: '#^Access to an undefined property Laravel\\Sanctum\\PersonalAccessToken\:\:\$location\.$#'
            count: 1
            path: ../app/Listeners/RecordRequestIdentifiersListener.php
