# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Property App\\Support\\Attributes\\Mixin\:\:\$class has invalid type Illuminate\\Support\\Traits\\Macroable\.$#'
            count: 1
            path: ../app/Support/Attributes/Mixin.php
