name: security-checker

on:
  push:
    paths:
      - 'composer.lock'
      - '**.lock'

jobs:
  security-checker:
    name: security-checker
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v2
        id: cache-db
        with:
          path: ~/.symfony/cache
          key: db
      - uses: symfonycorp/security-checker-action@v5
